 <!DOCTYPE html>
 <html lang="en">
 <head>
 	<meta charset="UTF-8">
 	<title>notes-togor</title>
 	<meta name="description" content="togor,专注分享">
	<include file="Public/header"/> 
 </head>
 <body>
	<include file="Public/nav"/> 
	<div class="notice">请坚持自己的梦想~</div>
	<div id="box">
		<div id="box-scroll">
			<div class="container mt50">
				<div class="row">
					<div class="col-sm-9 article-list">
						<div class="section">
							<div class="title">
								<h2>最近更新</h2>
							</div>
							<ul class="list">
								<volist name="list" id="vo">
									<li data-id="{$vo.id}">
										<h3><a href="__ROOT__/Notes/artInfo?id={$vo.id}">{$vo.title}</a></h3>
										<p><?php echo html_entity_decode($vo['profiles']);?></p>
										<div class="art-info">
											<span>时间：{$vo.time}</span>
											<span>分类：{$vo.little_class}</span>
										</div>
									</li>
								</volist>
							</ul>
						</div>
					</div>
					<div class="col-sm-3 right-nav">
						<include file="Public/recomLink"/>
						<include file="Public/littleLink"/>
					</div>
				</div>		
			</div>
		</div>
	</div>
	<include file="Public/footer"/> 
	<script type="text/javascript">
		$("#box-scroll").niceScroll({
			cursorcolor: "#666",
			cursorborder: "1px solid #696969",
			scrollspeed: 30,
		});
		$('#box-scroll').on('scroll',function(event){
			var e = event || window.event;
			var ah = e.target.scrollHeight;
			var h = e.target.clientHeight;
			var top = e.target.scrollTop;
			if (top>0) {
				$('.right-nav').css('position','relative').css('top',top);
			}
			if (ah-h-top<100) {
				loadMore($('.list li').length,5);
			}
		});
		var AJAXEND = 1;
		function loadMore(offset,len){
			if (AJAXEND == 0) {
				return;
			}
			AJAXEND = 0;
			$.ajax({
				url:'__ROOT__/Home/Notes/loadMore',
				data:{'offset':offset,'length':len},
				type:'get',
				success:function(res){
					var html = '';
					for (var i = 0; i < res.length; i++) {
						html += '<li data-id="'+res[i].id+'">'
								+'<h3><a href="__ROOT__/Notes/artInfo?id='+res[i].id+'">'+res[i].title+'</a></h3>'
								+'<p>'+res[i].profiles+'</p>'
								+'<div class="art-info">'
								+'<span>时间：'+res[i].time+'</span>'
								+'<span>分类：'+res[i].little_class+'</span>'
								+'</div></li>';
					}
					$('.list').append(html);
					if (res.length<len) {
						AJAXEND = 0;
					}else{
						AJAXEND = 1;
					}
				}
			});
		}
	</script>
 </body>
 </html>