<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link type="text/css" rel="stylesheet" href="__PUBLIC__/common/css/bootstrap.min.css" />
<link type="text/css" rel="stylesheet" href="__PUBLIC__/index/css/style.css" />
<script>
	var ROOT = '__ROOT__';
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "https://hm.baidu.com/hm.js?28f0847c49c6ea28c726cbecc5b0ffe9";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
</script>