<header>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
		    <div class="navbar-header">
		        <a class="navbar-brand logo" href="__ROOT__">Togor</a>
		    </div>
			<ul class="nav navbar-nav navbar-right">
			<!-- <volist name="nav" id="vo">
				<li>
					<a href="{$vo.section_url}">
						{$vo.section_name}
					</a>
				</li>
			</volist> -->
				<li class="active"><a href="#">寓</a></li>
				<li><a href="#">教</a></li>
				<li><a href="#">于</a></li>
				<li><a href="#">乐</a></li>
			</ul>
		</div>
	</nav>
</header>