<div class="recom-link">
	<h4>推荐网站</h4>
	<ol>
		<li><a target="_blank" href="http://blog.leanote.com/darker">Darker 's Blog</a></li>
		<li><a target="_blank" href="http://www.365mini.com/">CodePlayer</a></li>
		<li><a target="_blank" href="http://www.vmovier.com/">V电影</a></li>
		<li><a target="_blank" href="http://www.quankan.tv/">全看电影</a></li>
		<li><a target="_blank" href="http://www.58pic.com/">千图网</a></li>
		<li><a target="_blank" href="http://music.163.com/">云音乐</a></li>
		<li><a target="_blank" href="http://www.iconfont.cn/">iconfont</a></li>
		<li><a target="_blank" href="https://developer.mozilla.org/">MDN</a></li>
		<li><a target="_blank" href="http://www.yinyuetai.com/">音悦台</a></li>
	</ol>
</div>