 <!DOCTYPE html>
 <html lang="en">
 <head>
 	<meta charset="UTF-8">
 	<title>about-togor</title>
	<include file="Public/header"/> 
 	<meta name="description" content="togor,专注分享">
 </head>
 <body>
	<include file="Public/nav"/> 
	<div class="notice">请坚持自己的梦想~</div>
	<div id="box">
		<div id="box-scroll">
			<div class="container mt50">
				<div class="row">
					<div class="col-sm-12">
						<div class="about-part1 about-part">
							<p>Togor是一个追逐自由，崇尚真、善、美的口号。努力，生活就会更美好！</p>
							<p>本站旨在分享自己在工作和生活中碰到的问题及其解决方法，还有遇到、听到的美好视频、音乐、文章以及其它的...</p>
							<p>目前本站还处于初级阶段，日后作者会定期更新或完善版本</p>
							<p>如果您有任何意见或建议，均可发邮件至flyfish_doc@163.com。欢迎您的来信！</p>
						</div>
					</div>
				</div>		
			</div>
		</div>
	</div>
	<include file="Public/footer"/> 
	<script>
		$("#box-scroll").niceScroll({
			cursorcolor: "#666",
			cursorborder: "1px solid #696969",
			scrollspeed: 30,
		});
	</script>
 </body>
 </html>