 <!DOCTYPE html>
 <html lang="en">
 <head>
 	<meta charset="UTF-8">
 	<title>togor</title>
	<include file="Public/header"/> 
 </head>
 <body>
	<include file="Public/nav"/> 
	<div class="notice">请坚持自己的梦想~</div>
	<div id="box">
		<div id="box-scroll">
			<div class="container mt50">
				<div class="row">
					<div class="col-sm-9 article-list">
						<div class="section">
							<div class="title">
								<h2>推荐阅读</h2>
							</div>
							<ul class="list">
								<li>
									<h3><a href="__ROOT__/home/index/artInfo">文章标题文章标题文章标题</a></h3>
									<p>文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容文章内容</p>
									<div class="art-info">
										<span>时间：2016-03-02</span>
										<span>分类：JS</span>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3 right-nav">
						<h4>推荐网站</h4>
						<ol>
							<li><a href="#">网站</a></li>
							<li><a href="#">网站</a></li>
							<li><a href="#">网站</a></li>
							<li><a href="#">网站</a></li>
						</ol>
					</div>
				</div>		
			</div>
		</div>
	</div>
	<include file="Public/footer"/> 
	<script>
		$("#box-scroll").niceScroll({
			cursorcolor: "#666",
			cursorborder: "1px solid #696969",
			scrollspeed: 30,
		});
	</script>
 </body>
 </html>