 <!DOCTYPE html>
 <html lang="en">
 <head>
 	<meta charset="UTF-8">
 	<title>togor</title>
	<include file="Public/header"/> 
 </head>
 <body>
	<include file="Public/nav"/> 
	<div class="notice">请坚持自己的梦想~</div>
	<div id="box">
		<div class="carousel slide" id="home-silder">
			<!-- <ol class="carousel-indicators">
					        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					        <li data-target="#myCarousel" data-slide-to="1"></li>
					        <li data-target="#myCarousel" data-slide-to="2"></li>
					    </ol>  -->
			<div class="carousel-inner">
				<div class="item active item1">
					<div class="">
						<ul class="list">
							<li><div></div></li>
							<li><div></div></li>
							<li><div></div></li>
							<li><div></div></li>
							<li><div></div></li>
							<li><div></div></li>
							<li><div></div></li>
						</ul>
					</div>
				</div>
				<div class="item item2">
					<div class="">
						<ul class="list">
							<li><div></div></li>
							<li><div></div></li>
							<li><div></div></li>
							<li><div></div></li>
							<li><div></div></li>
							<li><div></div></li>
							<li><div></div></li>
						</ul>
					</div>
				</div>
				<div class="item">
					<div class="">
						<ul class="list">
							<li><div></div></li>
							<li><div></div></li>
							<li><div></div></li>
							<li><div></div></li>
							<li><div></div></li>
							<li><div></div></li>
							<li><div></div></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

	</div>
	<include file="Public/footer"/> 
	<script>
		$('.carousel').carousel({
			interval:false,
		});
		if(document.attachEvent){ 
			document.attachEvent('onmousewheel',scrollFunc); 
		} 
		if(document.addEventListener){ 
			document.addEventListener('DOMMouseScroll',scrollFunc,false); 
		}
		window.onmousewheel=document.onmousewheel=scrollFunc;
		function scrollFunc(e){
			// 向下滚动返回1，向上滚动返回-1
			e = e || window.event;
			if (e.wheelDelta) {
				if (e.wheelDelta > 0) {
					pageLast();
				}else{
					pageNext();
				}
			}else{
				if (e.detail > 0) {
					pageNext();
				}else{
					pageLast();
				}
			}
		}
		function pageNext(){
			console.log(1);
		}
		function pageLast(){
			console.log(-1);
		}
	</script>
 </body>
 </html>