html,body{
	margin:0;
	padding: 0;
	font-family: "Myriad Pro", Arial, "FZLanTingHei-R-GBK", 方正兰亭黑, "Microsoft YaHei", 微软雅黑, STHeiti, 华文黑体, SimSun, 宋体, sans-serif;
}
*{
	color: #333;
}
.nav{
	height: 60px;
	line-height: 60px;
	background-color: rgb(59,59,59);
	overflow: hidden;
	box-shadow: 0 1px 2px rgb(44,44,44);
}
.nav .logo{
	float: left;
}
.nav .logo a{
	font-size: 24px;
	color: #aaa;
}
.nav .logo a:hover, 
.nav .logo a:focus{
	text-decoration: none;
}
.nav .describe{
	float: right;
	color: #666;
}
ul.plug-list{
	padding: 0;
	margin: 0;
}
li{
	list-style:none;
}
ul.plug-list li>div{
	height: 200px;
	background-color: rgba(0,0,0,.5);
}
.container{
	width: 1170px;
}
