 <!DOCTYPE html>
 <html lang="en">
 <head>
 	<meta charset="UTF-8">
 	<title>{$info['title']}-togor</title>
	<include file="Public/header"/> 
 	<meta name="description" content="togor,专注分享">
 	<meta name="keywords" content="{$info['title']}">
 </head>
 <body>
	<include file="Public/nav"/> 
	<div class="notice">请坚持自己的梦想~</div>
	<div id="box">
		<div id="box-scroll">
			<div class="container mt50">
				<div class="row">
					<div class="col-sm-9 article-detail" id="share-detail">
						<eq name="err" value="true">
							{$info}
							<else/>
							<div class="art-title">
								<h2>{$info['title']}</h2>
							</div>
							<div class="art-tips">
								<span>时间：{$info['time']}</span>
								<span>分类：{$info['little_class']}</span>
							</div>
							<div class="art-info">
								<?php echo html_entity_decode($info['info']);?>
							</div>
						</eq>
						<div class="to-be">
							<p>上一篇：<if condition="count($last) eq Null">没有了<else/><a href="./shareDetail?id={$last.id}">{$last.title}</a></if></p>
							<p>下一篇：<if condition="count($next) eq Null">没有了<else/><a href="./shareDetail?id={$next.id}">{$next.title}</a></if></p>
						</div>
					</div>
					<div class="col-sm-3 right-nav" style="padding-top: 90px;">
						<include file="Public/recomLink"/> 
					</div>
				</div>		
			</div>
		</div>
	</div>
	<include file="Public/footer"/> 
	<script>
		$("#box-scroll").niceScroll({
			cursorcolor: "#666",
			cursorborder: "1px solid #696969",
			scrollspeed: 30,
		});
		$('#box-scroll').on('scroll',function(event){
			var e = event || window.event;
			var top = e.target.scrollTop;
			if (top>70) {
				$('.right-nav').css('position','relative').css('top',top-70);
			}
		});
	</script>
 </body>
 </html>