<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>文章管理</title>
	<include file="Public/header" />
</head>
<body>
	<include file="Public/nav" />	
	<div class="container">
		<eq name="err" value="true">
			{$info}
			<else/>
			<div class="row article-info" id="article-info" data-id="{$info['id']}">
				<h4 class="title">{$info['title']}</h4>
				<p class="profiles">{$info['profiles']}</p>
				<div class="info">
					<div class="text-right"><a onclick="insertHtml()" id="change-btn" class="btn">修改</a></div>
					<div class="info-box">
						<?php echo html_entity_decode($info['info']);?>
					</div>
				</div>
			</div>
			<div class="row change-article hide">
				<form>
					<div class="form-group mb0">
						<label for="title" class="control-label col-sm-3">文章标题：</label>
					</div>
					<div class="form-group col-sm-12">
						<div class="col-sm-6">
							<input type="text" class="form-control" name="title" value="{$info['title']}">
						</div>
					</div>
					<div class="clear"></div>
					<div class="form-group mb0">
						<label for="title" class="control-label col-sm-3">文章概述：</label>
					</div>
					<div class="form-group col-sm-12">
						<div class="col-sm-6">
							<input type="text" class="form-control" name="profiles" value="{$info['profiles']}">
						</div>
					</div>
					<div class="clear"></div>
				<div class="form-group mb0">
					<label for="title" class="control-label col-sm-3">文章类型：</label>
				</div>
				<div class="form-group col-sm-12">
					<div class="col-sm-6 art-style">
						<span><input type="radio" name="art-style" <if condition="$info['little_class'] eq 'web'">checked</if> value="web">web</span>
						<span><input type="radio" name="art-style" <if condition="$info['little_class'] eq 'python'">checked</if> value="python">python</span>
						<span><input type="radio" name="art-style" <if condition="$info['little_class'] eq 'php'">checked</if> value="php">php</span>
						<span><input type="radio" name="art-style" <if condition="$info['little_class'] eq 'sql'">checked</if> value="sql">sql</span>
						<span><input type="radio" name="art-style" <if condition="$info['little_class'] eq 'share'">checked</if> value="share">分享</span>
						<span><input type="radio" name="art-style" <if condition="$info['little_class'] eq 'other'">checked</if> value="other">其他</span>
					</div>
					<div class="col-sm-6">
						<span>是否推荐阅读：<input type="checkbox" name="recom" value="1" <if condition="$info['recommend'] eq 1">checked</if>></span>

					</div>
				</div>
				<div class="clear"></div>
					<div class="form-group mb0">
						<label for="title" class="control-label col-sm-3">文章内容：</label>
					</div>
					<div class="form-group col-sm-12">
						<div class="col-sm-12">
							<script id="editor" type="text/plain" style="width:100%;height:300px;"></script>
						</div>
					</div>
					<div class="clear"></div>
					<div class="form-group text-center">
						<a href="javascript:;" class="btn btn-primary" id="submit">提交修改</a>
						<a href="javascript:;" class="btn btn-default" id="return">取消</a>
					</div>
				</form>
			</div>	
		</eq>
	</div>

	<include file="Public/footer" />
	<script type="text/javascript" src="__PUBLIC__/common/js/ueditor/ueditor.config.js"></script>
	<script type="text/javascript" src="__PUBLIC__/common/js/ueditor/ueditor.all.js"></script>
    <script type="text/javascript" charset="utf-8" src="__PUBLIC__/common/js/ueditor/lang/zh-cn/zh-cn.js"></script>
    <script type="text/javascript">
    	var ue = UE.getEditor('editor');
    	function insertHtml() {
    		$('.article-info').addClass('hide');
    		$('.change-article').removeClass('hide');
	        UE.getEditor('editor').execCommand('insertHtml', $('.info .info-box')[0].innerHTML);
	    }
    	function getContent() {
	        var arr = UE.getEditor('editor').getContent();
	        return arr;
	    }
	    $('#submit').on('click',function(){
			var data = {};
				data.title = $('form input[name="title"]').val();	
				data.profiles = $('form input[name="profiles"]').val();	
				data.little_class = $('form input[name="art-style"]:checked').val();
				data.recommend = $('form input[name="recom"]:checked').val();
		    	data.info = getContent(this);
		    	data.id = $('#article-info').attr('data-id');
		    	if ($('form input[name="recom"]:checked').length == 0) {
					data.recommend = 0;
				}
		    $.ajax({
		    	url:'__ROOT__/board/article/updata',
		    	type:'post',
		    	data:data,
		    	success:function(res){
		    		alert(res.info);
		    		if (res.status) {
		    			window.location = window.location.href;
		    		}
		    	}
		    })
	    });
	    $('#return').on('click',function(){
    		window.location = window.location.href;
	    })
	    var video = $('#article-info').find('video');
		$(video).each(function(){
			$(this).attr('poster','http://www.togor.cn/t/t.png');
		});
    </script>
</body>
</html>